.jumbotron {
	height: 80px;
	margin: 0;
	text-align: center;
	background-color: white;
	color: ;
}
.display-4 {
	padding: 0px;
	margin: -30px 0 0 0;
	font-family: 'Racing Sans One', serif;
	color: rgba(98, 45, 45, 1);
}
#buttonsWrapper {

}
#clickToAnimate {
	/*margin-bottom: 0px;*/
	margin-top: 200px;
	/*background-color: white;*/
	/*width: 400px;*/
	/*height: 180px;*/
	font-family: "Vibur", sans;
	font-size: 40px;
}

.button {
	margin: 6px;
}
#mainWrapper {

}
#gifContainer {
	float: left;
	min-width: 600px;
}
.gifHolder {
	margin-bottom: 100px;
}
#searchDiv {
	float: right;
	background-color: rgba(240, 178, 178, 1);
	border-radius: 7px;
	height: 160px;
	margin-top: 20px;
}
form {
	padding: 20px;
	font-family: Ubuntu, sans;
}
#inputField {
	margin: 10px;
}
.btn-dark {
	margin-left: 40px;
}
p {
	color: rgba(160, 172, 165, 1);
	font-family: "Ubuntu";
	font-size: 20px;
}
